h1 {
    color: blue
}
   
.flexcolumn{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: justify;
    background-color: white;
    flex-wrap: wrap;   
}

.item{
    width: 400px;
    height: 300px;
    display: flex;
    background-color: darkblue;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 300px;
    justify-content: center;
    align-items: justify;
}

a {
    text-decoration: none;
    font-size: 30px;
    font-weight: Courier;
    color: darkgrey;
  }

.item:hover{
    background-color: grey;
}

a:hover{
    color: black;
}
