h1 {
    color: red
}

img {
        border-radius: 70%;
}


.subTitle {
    color: red;
    text-decoration: none;
    font-size: 20px;
    font-weight: Ariel;
    background-color: lightgrey;
    font-weight: bold;
}

.title {
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    font-weight: bold;  
}

.subTitlebody {
    color: black;
    flex-direction: column;
    display: flex;
    font-style: normal;
}

.position {
    display: flex;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    justify-content: space-between;
}

.company {
    font-style: italic;
    font-size: 13px;
}

.aboutPosition {
    font-style: normal;
    color: black;
    font-size: 13px;

}

.school {
    font-style: italic;
    font-size: 13px;
    color: black;
    justify-content: flex-start;
}

.domain {
    display: flex;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    justify-content: space-between;
}

.name{
    width: 400px;
    animation: mymove 5s infinite;
}

body { 
    margin: 0px;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif
    }