.square {
    width: 20px;
    height: 20px;
    background-color: blue;
}


@media screen and (min-width: 500px) {
    .square {
      margin-top: 50px;
      margin-left: 50px;
    }
}

@media screen and (min-width: 500px) {
    .square {
      margin-bottom: 50px;
      margin-right: 50px;
    }
}