html{
    background-color: lightseagreen;
}

h1{
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: black;
    text-align: center;
    
}

.text{
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    height: 400px;
    text-align: justify;
    margin-left: 50px;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
    
}

p{
    color: black;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}


a {
    text-decoration: none;
    font-size: 15px;
    font-weight: Courier;
    color: black;
  }

a:hover{
    font-size: 150%;
}
