h1{
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: blue;
    text-align: center;
    
}

.text{
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    height: 400px;
    text-align: justify;
    margin-left: 375px;
}

p{
    color: black;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}


a {
    text-decoration: none;
    font-size: 15px;
    font-weight: Courier;
    color: black;
  }
